
.header{
    position: fixed;
    background-color: white;
    box-shadow: 2px 0px 1px black;
}

.menu{
    border-bottom-left-radius: 10px;
    background-color: rgb(226, 226, 226);

    flex-flow: column;
    justify-content: center;
    align-items: center;

    top: 60px;
    right: 0px;
    position: absolute;

    z-index: 9999;
    animation: fade-in 0.3s normal;
}
.menu a{
    border-top: 1px solid rgba(0, 0, 0, 0.281);
}

@keyframes fade-in {
  from {
    right: -145;
}
to {

    right: 0;
  }
}
